<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Softclub History</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/car/list">Cars</a>
        <a class="p-2 text-dark" href="/storage/list">History</a>
    </nav>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <form method="post" th:action="@{/clear}">
            <div th:each="car : ${cars}">
                <div class="card mb-6 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal"><span th:text="${car.price}"> price </span></h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><span th:text="${car.price}"> price </span></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><span th:text="${car.id}"> id </span></li>
                            <li><span th:text="${car.model}"> model </span></li>
                            <li><img width="400" height="300" th:src="@{/images/{image}(image=${car.image})}"/></li>

                        </ul>
<!--                        <button type="submit" class="btn btn-lg btn-block btn-primary" th:name="car" th:value="${car.id}">Buy car</button>  -->
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>