<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="ISO-8859-1">
  <title>My app</title>
</head>

<body>

<p>Hello world!</p>
<p>Current time is <span th:text="${serverTime}"/></p>

<table>
  <thead>
  <tr>
    <th> id</th>
    <th> name</th>
    <th> age</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${people.empty}">
    <td colspan="2"> No People Available</td>
  </tr>
  <tr th:each="person : ${people}">
    <td><span th:text="${person.id}"> id </span></td>
    <td><span th:text="${person.name}"> name </span></td>
    <td><span th:text="${person.age}"> age </span></td>
  </tr>
  </tbody>
</table>

<form action="#" th:action="@{/}" th:object="${person}"
      method="post">
  <fieldset>
    <input type="submit" id="submitButton" th:value="Save">
    <input type="reset" id="resetButton" name="reset" th:value="Reset"/>

    <p><input type="text" th:field="*{id}"/></p>
    <p><input type="text" th:field="*{name}"/></p>
    <p><input type="text" th:field="*{age}"/></p>
  </fieldset>
</form>

</body>

</html>